<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <div class="hero">
          <div>
            <div>
              <p>
                <picture>
                  <img loading="lazy" alt="" src="myimage.jpg">
                </picture>
              </p>
              <h1>Hello World</h1>
            </div>
          </div>
        </div>
        <p>Welcome to your website.</p>
        <div class="metadata">
          <div>
            <div>
              <p>Description</p>
            </div>
            <div>
              <p>Page Description</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
